mixin product-item(item)

   a(href=item.link class="")
      div(class="aspect-square bg-[#F0EEED] sm:rounded-[20px] rounded-[14px] truncate sm:mb-[20px] mb-[12px]")
            img(src=item.image, alt=item.title class="w-[100%] h-[100%] object-cover rounded-[20px] "
            )

      h3(class="font-[700] text-[18px] text-primary sm:mb-[10px] mb-[6px]") #{item.title}
      div(class="flex items-center gap-x-[13px] sm:mb-[10px] mb-[6px]")
            div(class="flex sm:gap-x-[5px] gap-x-[4px] sm:text-[18px] text-[15px] text-rating")
            - for(var i = 1; i <= item.star;i++)
                  <i class="fa-solid fa-star"></i>
            - for(var j = item.star + 1; j <= 5;j++)
                  <i class="fa-regular fa-star"></i> 
            //- <i class="fa-solid fa-star"></i>
            //- <i class="fa-solid fa-star"></i>
            //- <i class="fa-solid fa-star"></i>
            //- <i class="fa-regular fa-star"></i> 
            div(class="font-[400] sm:text-[14px] text-[12px] text-[#00000099]") #{item.star} /5
      div(class="flex flex-wrap items-center gap-x-[10px] gap-y-[6px]")
            div(class="font-[700] sm:text-[18px] text-[14px] text-black") #{item.discount > 0 ? item.priceSpecial.toLocaleString("de-DE") : item.price.toLocaleString("de-DE") } đ
            if(item.discount > 0)
                  div(class="text-[#00000066] font-[700] sm:text-[14px] text-[12px] line-through") #{item.price.toLocaleString("de-DE")} đ
                  div(class=" text-[#FF3333] bg-[#FF33331A] rounded-[62px] sm:py-[6px] py-[3.5px] sm:px-[12px] px-[6.5px]") #{item.discount}%
